$body-font:'Montserrat', sans-serif;
$body-background-color: /*#f4f4f4*/#F8F8F8 ;
$contrast-body-color: white;
$header-height: 44px;
$tablet: 768px;
$desktop: 1024px;
$strong-color: orangered;//#fc2a74
$width-cont: 800px;
/*max width of the document*/
$max-width: 1110px;
$max-width-full: 100%;
/*width of the containers on mobile*/
$width-95: 95%;
$width-100: 100%;